.coach-page__section1 {
  position: relative;
  background: linear-gradient(#FEFEFE, #A5C0C9);
}
.coach-page__section2 {
  position: relative;
  background: linear-gradient(#A5C0C9, #7FAFBF);
}
.video-section {
  display: block;
  position: relative;
  background: linear-gradient(#7FAFBF, #FAEBD6);
}
.speaker-video-section {
  display: block;
  position: relative;
  background: linear-gradient(#7FAFBF, #FCD9C3);
}
.coach-page__paragraph {
  background: linear-gradient(#FAEBD6, #FCD9C3);
}
.coach-body {
  width: 100%;
  padding: 0 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.coach-section-body {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 4rem 0 8rem 0;
  @media screen and (max-width: 840px) {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
}
.coach-page-header__text {
  font-size: 90px;
  color: white;
  text-shadow: 2px 2px 2px rgba(black, 0.5);

  @media screen and (max-width: $xlarge) {
    font-size: 65px;
  }
  @media screen and (max-width: $large) {
    font-size: 55px;
  }
  @media screen and (max-width: $medium) {
    padding: 0 2rem 0 4rem;
  }
  @media screen and (max-width: $small) {
    font-size: 45px;
  }
}
.coach-page__image {
  position: absolute;
  right: 0;
  bottom: -9rem;
  width: 400px;
  opacity: .09;
  transition: transform 0.7s cubic-bezier(0.77, 0, 0.175, 1) 0.1s,opacity 0.7s ease-in-out 0.1s,
  -webkit-transform 0.7s cubic-bezier(0.77, 0, 0.175, 1) 0.1s;
  @media screen and (max-width: $large) {
    width: 350px;
  }
  @media screen and (max-width: $medium) {
    width: 300px;
  }
}
.coach-page__body {
  width: 100%;
  padding: 4rem 2rem 0 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  @media screen and (max-width: 840px) {
    padding: 2rem 2rem 0 2rem;
  }
}
.coach-page-paragraph-left,
.coach-page-paragraph-right {
  width: 50%;
  font-family: "Apple Chancery", "Roboto", "Poppins", sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.6);
  @media screen and (max-width: $xlarge) {
    font-size: 18px;
  }
  @media screen and (max-width: $xmedium) {
    margin-left: 4rem;
  }
  @media screen and (max-width: 840px) {
    font-size: 16px;
    margin-left: 0;
    width: 100%;
    margin-top: 1rem;
  }
}
.coach-page-paragraph-left {
  @media screen and (max-width: 840px) {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
  }
}
.coach-image-right,
.coach-image-left {
  //max-height: 320px;
  max-width: 410px;
  border-radius: 10px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-shadow: 0 3px 20px rgba(black, 0.2);
  //@media screen and (max-width: $xmedium) {
  //  max-width: 220px;
  //  min-height: 240px;
  //}
  @media screen and (max-width: 840px) {
    max-width: 260px;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
  }
}
.coach-page__hero-section__image,
.speaker-page__hero-section__image,
.about-page__hero-section__image {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.coach-page__hero-section__image {
  background-position: center center;
  background-image: url('../img/coach/coach-bg.jpg');
}
.speaker-page__hero-section__image {
  background-position: center center;
  background-image: url('../img/speaker/speaker-bg.jpg');
}
.about-page__hero-section__image {
  background-position: top center;
  background-image: url('../img/about/about_charla.jpg');
}
.speaker-button {
  @media screen and (max-width: 840px) {
    margin-bottom: 4rem;
  }
}
