.right-sidebar {
  width: 100%;
  padding: 5rem 0 0 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  font-family: "Apple Chancery", "Roboto", "Poppins", sans-serif;
  text-align: center;
  a {
    color: teal;
  }
}
.mb-2 {
  margin-bottom: 2rem;
}
.right-sidebar__author-name {
  color: teal;
}
.right-sidebar__author-page__link {
  &:hover {
    text-decoration: none;
  }
}
.sidebar-widget {
   li {
      margin-top: 1rem;
      margin-bottom: 1rem;
   }
}
.widget-title {
  font-family: "Apple Chancery", "Roboto", "Poppins", sans-serif;
  margin-top: 2rem;
}
